    <nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/assets/r.png"></a>
      <p class="navbar-text">Rick Little's Site</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Early Years</a></li>
        <li><a href="#">Education</a></li>
        <li><a href="#">Career</a></li>
        <li><a href="#">Certifications</a></li>
        <li><a href="#">Family</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="mailto:ricklittlejr@gmail.com">Email</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Skype</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Text</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-social-icon btn-sm btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="btn btn-social-icon btn-sm btn-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="btn btn-social-icon btn-sm btn-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="page-header">
  <h1>Welcome to the Rick's Family Page!</h1>
    </div>
<div class="row">
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <footer class="footer">
      <div class="container" style="width:100%;">
        <p style="text-align:center; color:white; margin-top:15px;" class="text-muted">&copy; 2015 - All right reserved.</p>
      </div>
    </footer>
