<!DOCTYPE html>
<html>
<head>
  <title>Rick Little's Page</title>
      <!-- Bootstrap -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CDN-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap Social CSS -->
    <link href="bootstrap-social.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="rickpgcustom.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
